<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form role="form" action="#" th:action="@{/login1FAQR}" method="get" >
    <div class="form-group form-inline col-xs-5">
        <label>Enter your name</label>
        <p>
            <input type="name" name="name" class="form-control" placeholder="Name" required autofocus/>
        </p>
        <input type="submit" value="Отправить" class="btn btn-primary" />
    </div>
</form>


</body>
</html>