<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>QR code</title>

    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>


<a href="/login" class="btn btn-primary">Go to login page</a>

<div class="container-fluid text-center">
    <div>
        <img class="img-fluid"/>
    </div>
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

        <div>
            <img th:src="${qrcode}" alt="" height="250" width="250">
        </div>

        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>

        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out.</p>
        </div>
         <div class="border border-secondary p-3 rounded">
            <p>Access Login Panel</p>
            <p>
                <input type="name" name="name" class="form-control" placeholder="Name" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type='text' name='code' class="form-control" placeholder="Google Authenticator Verification Code" required />
            </p>
            <p>
                <input type="checkbox" name="remember-me" />&nbsp;Remember Me
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary" />
            </p>
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" class="btn btn-primary" />
        </form>
    </form>
</div>
</body>
</html>